In [ ]:
# New Notebook

In [27]:
import sqlalchemy as sa 
import pandas as pd

In [13]:
#from sqlalchemy import create_engine

In [15]:
# Dictionary - params to set up the DB Engine
mmai_db_secret = {
    "database" : "mmai_db",
    "drivername" : "mssql+pyodbc",
    "host" : "mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com",
    "port" : "1433",
    "username": "tango97",
    "password": "2024!Schulich",
    "driver": "ODBC Driver 18 for SQL Server",
    "trust_cert" : "yes"
}

# URL = mysql-pyodb://preciado:2024!Schulich@mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com:1433/mmai_db

In [ ]:
# Connection URL
n_connection_url = ""

In [32]:
# Function to create the DB engine - DO NOT TOUCH
def create_db_engine(db_config):
    global n_connection_url
    connection_url = sa.engine.URL.create(
        drivername = db_config.get("drivername"),
        username = db_config.get("username"),
        password = db_config.get("password"),
        host  = db_config.get("host"),
        port  = db_config.get("port"),
        database  = db_config.get("database"),
        query = {
            "driver" : db_config.get("driver"),
            "TrustServerCertificate": db_config.get("trust_cert")
        }
    )
    
    n_connection_url = connection_url
    
    return sa.create_engine(connection_url)

In [21]:
# mssql+pyodbc://tango97:***@mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com:1433/mmai_db?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server

In [33]:
# Initialize the MySql Engine using SQL Alchemy
mssql_engine = create_db_engine(mmai_db_secret)

In [25]:
# SQL Engine code to run the first command

query = "SELECT * FROM assignnment01.bakery_sales;"

with mssql_engine.connect() as connection:
    data = pd.read_sql(sql="SELECT * FROM assignment01.bakery_sales;", con=connection)

In [34]:
# Another way of generating the engine:
my_engine = sa.create_engine(n_connection_url)

In [41]:
# SQL Engine code to run the first command

my_query = sa.text("SELECT * FROM assignment01.bakery_sales;")

with my_engine.connect() as my_connection:
    my_data = pd.read_sql(sql=my_query, con=my_connection)

In [40]:
# Head
my_data

0  234005